/* resets
---------------------------------------------------------------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
/*  custom properties
---------------------------------------------------------------------------- */
:root {
    --ff-primary: 'Red Hat Display', sans-serif;
    --ff-header: 'Red Hat Display', sans-serif;

    --fw-reg: 500;
    --fw-medium: 700;
    --fw-bold: 900;
    --fw-header: 900;

    --clr-dark: #303030;
    --clr-light: #f5fafa;
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);

    --fs-h1: 2.1rem;
    --fs-body: 16px;
    --fs-footer: .8rem;
}
@media (min-width: 900px) {
    :root {
        --fs-h1: 2.7rem;
        --fs-body: 1rem;
    }
}
/*
---------------------------------------------------------------------------- */
html {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: black;
  background-color: black;
  line-height: 1.6em;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: var(--fw-header);
}
/* link styling
------------------------------------ */
a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 2px solid var(--clr-dark-blue);
  background: transparent;
}
@supports selector(:focus-visible) {
  a:focus {
    /* Remove the focus indicator on mouse-focus for browsers
       that do support :focus-visible */
    outline: none;
    background: transparent;
  }
}
a:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 3px solid var(--clr-dark-blue);
  background: transparent;
}
/* content
------------------------------------ */
main.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(images/pattern-background-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--clr-pale-blue);
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 1rem;
}
.card {
  max-width: 375px;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
  margin: 0 auto;
}
img.banner {
  border-radius: 0.75rem 0.75rem 0 0;
}
h1 {
/*   padding: 1.75rem 0 1.25rem 0; */
  margin: 1.75rem 0 1.25rem 0;
}
section.card p {
  max-width: 80%;
  margin-bottom: 1rem;
}
.price-bar {
  line-height: 1.5;
  width: 85%;
  background-color: var(--clr-very-pale-blue);
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.price-bar div {
  margin-left: 1rem;
  text-align: left;
}
.pb-name {
  display: inline-block;
  font-weight: var(--fw-bold);
}
.pb-cost {
  display: inline-block;
  color: var(--clr-desaturated-blue);
}
a.changeCard {
  margin-left: auto;
}
a.changeCard:hover {
  text-decoration: none;
}
a.paymentChicklet {
  width: 85%;
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  color: var(--clr-light);
  background-color: var(--clr-bright-blue);
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 16px 9px 5px var(--clr-pale-blue);
}
a.paymentChicklet:hover {
  background-color: hsl(245, 75%, 52%, 0.75)
}
a.canxOrder {
  font-weight: var(--fw-medium);
  color: var(--clr-desaturated-blue);
  text-decoration: none;
  margin-bottom: 1rem;
}
a.canxOrder:hover {
  color: var(--clr-dark);
}
/* footer
-------------------------------------------------------- */
footer.attribution {
  display: none;
}
.attribution {
  max-width: 375px;
  font-size: 11px;
  text-align: center;
  border: 1px solid blue;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* media queries
-------------------------------------------------------- */
@media (min-width: 575px) {
  main.wrapper {
  max-width: 1440px;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  }
}

